nav {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    list-style-type: none;
    display: flex;
}
.menu li {
    margin-right: 20px;

}
.menu a { 
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

@media screen and (max-width: 800px) {
    .media {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100px;
        background-color: #333;
    }
    .menu.show
    {
        display: flex;
    }
    .menu-icon{
        display: block;
    }
    .banner-container img{
        max-height: 200px;
    }
}